body {
    background-color: #1E1E1E;
    font-family: "Volkhov", serif;
    font-style: normal;
    user-select: none;
}

.draggable {
    -webkit-app-region: drag;
}

#login-section {
    text-align: center;
    margin-top: 20%;

    button {
        background-color: #1ED760;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        
        &:hover {
            background-color: #159341;
        }
    }
}

.widget {
    width: 400px;
    height: 180px;
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 0;
    font-family: "Volkhov", serif;
    min-width: 120px; /* Evita que sea muy pequeño */
    display: inline-block;
    width: 200px; /* Ajusta según el diseño */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
    position: relative;

}


h1 span {
    display: inline-block;
    will-change: transform;
}

h1:hover span {
    animation: scrollText 5s linear infinite;
}

@keyframes scrollText {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

h3 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

img {
    display: block;
}

svg {
    cursor: pointer;
}

.main-container {
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 100%;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: transparent;
    background: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s, background 0.3s;

    &:hover {
        color: white;
    }
}

.song-image {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.progress-bar {
    width: 100%;
    height: 3px; 
    background-color: rgb(165, 165, 165, 0.4);
    overflow: hidden; 
}

.main-bar {
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
}

.player {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px; 
}

.player-buttons {
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.button-player {
    border: none;
    background-color: transparent;
    flex-shrink: 0;
}

.circle-play {
    background-color: rgba(182, 182, 182, 0.6);
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    flex-shrink: 0;

    &:hover {
        background-color: gray;
    }
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.previous-svg, .next-svg {
    &:hover {
        fill: rgb(182, 182, 182);
    }
}